* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: pink;
}


.centrar {
    display: flex;
    justify-content: center;
}

.avatar1 {
    height: 600px;
    background-color: burlywood;
    background-image: url(../images/phineas.webp);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 200px;
    padding: 50px;
}

.avatar2 {
    height: 600px;
    background-color: gray;
    background-image: url(../images/perry.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 200px;
    padding: 50px;
}

h1, p {font-family: 'DynaPuff', cursive;}
